/*All nav related CSS will come from this file*/

.new-tweet{
  border-radius : 5px;
  border-style: solid;
  box-shadow: 0 0 2px 2px #888888;
  border-width: 1px;
  border-color: #eee;
  border-radius : 10px;
  padding-left :1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  margin-top: -0.5em;
  background-color:#eee;

}

.new-tweet h2{
  border-bottom-style: solid;
  border-width: 1px;
}

.new-tweet textarea{
  padding-left :0.5em;
  padding-top :0.5em;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

 .new-tweet span{
  margin-left: 335px;
  color : black;

}

.existing-tweet{
  border-radius : 10px;
  box-shadow: 0 0 2px 2px #888888;
  border-width: 1px;
  border-color: black;
  margin-top:1em;
  background-color: white;

}


.tweetHeader{
  border-width: 1px;
  font-size: 150%;
  font-weight: bold;
  background-color: #eee;
  height:80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tweet-logo{
  width :60px;
  height:60px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius : 5px;
  float : left;
  position: relative;

}

.header-text-one{
  padding-left:20px;
  float : left;
  margin-top:10px;
}

.header-text-two{
  margin-top: 10px;
  float:right;
  font-size: 70%;

}

.middle{
  clear:both;
  border:bottom;
  border-width: 1px;
  line-height: 80px;
  padding-left: 10px;
  word-wrap: break-word;

}

.footer{
  font-size: 100%;
  background-color: #eee;
  height:50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top:solid;
  border-width: 0.5px;

}

.bottom-text{
  padding-left: 10px;
  line-height: 30px;
  position: relative;
  width: 100px;

}

.icons{
  float: right;
  top: 0;
  display:none;
}


